* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #1992D4;
    --light-grey: #E2E8F0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: var(--primary-clr);
    color: white;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.sidebar-item:nth-child(1),
.sidebar-item:nth-child(7) {
    margin-bottom: 2rem;
}

.sidebar-item:hover {
    cursor: pointer;
}

.large-icon {
    width: 3rem;
    fill: white;
}

.med-icon {
    width: 2rem;
    fill: white;
}

.small-icon {
    width: 1.5rem;
    fill: white;
}

.small-icon-black {
    width: 1.5rem;
}

.small-profile-pic {
    width: 3rem;
}

.large-profile-pic {
    width: 4rem;
}

.top-header {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
 }

 .top-header h3 {
    margin-right: 3rem;
 }

 input {
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    height: 30px;
    border: none;
    background-color: #E2E8F0
 }

 .bottom-header {
    display: flex;
    padding: 0 20px;
    align-items: center;
    gap: 20px;
 }

 button:first-of-type {
    margin-left: auto;
}

 button {
    background-color: var(--primary-clr);
    color: white;
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600
 }

 button:hover {
    cursor: pointer;
 }

.content-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    background-color: var(--light-grey);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
    grid-column: 1 / 3;
}

.projects > h3 {
    grid-column: 1 / -1;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
}

.trending-card > div {
    display: flex;
    padding: 10px;
}

.trending-card, .card, .announcements>div {
    background-color: white;
}
