* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #1992D4;
    --secondary-clr: #F0B429;
    --light-grey: #E2E8F0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: var(--primary-clr);
    color: white;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.sidebar-item:nth-child(1),
.sidebar-item:nth-child(7) {
    margin-bottom: 2rem;
}

.sidebar-item:hover {
    cursor: pointer;
}

.large-icon {
    width: 3rem;
    fill: white;
}

.med-icon {
    width: 2rem;
    fill: white;
}

.small-icon {
    width: 1.5rem;
    fill: white;
}

.small-icon-black {
    width: 1.5rem;
}

.small-profile-pic {
    width: 3rem;
}

.large-profile-pic {
    width: 4rem;
}

.top-header {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
 }

 .top-header h3 {
    margin-right: 3rem;
 }

 input {
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    height: 30px;
    border: none;
    background-color: #E2E8F0
 }

 .bottom-header {
    display: flex;
    padding: 0 20px 20px 20px;
    align-items: center;
    gap: 20px;
 }

 button:first-of-type {
    margin-left: auto;
}

 button {
    background-color: var(--primary-clr);
    color: white;
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600
 }

 button:hover {
    cursor: pointer;
 }

.content-area {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    background-color: var(--light-grey);
    gap: 15px;
    padding: 30px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto 1fr 1fr;
    gap: 15px;
}

.projects > h3 {
    grid-column: 1 / -1;
}

.project-icons {
    gap: 20px;
}

.announcements p {
    color: rgb(138, 138, 138);
    font-size: .85rem;
    height: auto;
}

hr {
    margin: 15px 0px;
}

.announcement-card {
    padding: 30px;
}

.trending {
    border-radius: 20px;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    
}

.trending-card > div {
    display: flex;
    padding: 10px;
    align-items: center;
}

.trending-card img {
    margin-right: 15px;
}

.trending-card, .card, .announcements>div {
    background-color: white;
    border-radius: 15px;
}

.card {
    padding: 30px;
    border-left-color: var(--secondary-clr);
    border-left-width: 2px;
    display: flex;
    flex-direction: column;
}

.content-area h3 {
    padding-bottom: 15px;
}


